DJANGO_SECRET_KEY=change_me
NASA_API_KEY=DEMO_KEY
POSTGRES_USER=cosmos
POSTGRES_PASSWORD=cosmos
POSTGRES_DB=cosmos_db
# Optionnel : pour forcer Postgres en local hors Docker
# DATABASE_URL=postgres://cosmos:cosmos@localhost:5432/cosmos_db
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
DEBUG=True
